VITE_SUPABASE_URL=https://tzqmiadrwojsfdbhaaoz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6cW1pYWRyd29qc2ZkYmhhYW96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzYxODMzOTcsImV4cCI6MjA1MTc1OTM5N30.PJFW9M9pRhfzN3EQJFhCB6jPqCPBFxD1LSVlJyWrSvM